# ======================
# macOS System Files
# ======================
**/.DS_Store

.vscode/
.idea/

###############################################################################
# 🐍 Python Bytecode
###############################################################################
__pycache__/
*.pyc
*.pyo

# ======================
# PETSc Build Artifacts
# ======================
# BuildSystem artifacts (created by PETSc configure)
config/BuildSystem/
config/**/*.pyc
config/**/__pycache__/
config/examples/

# Configure logs
configure.log
configure.log.bkp
make.log
RDict.log
RDict.log.bkp

# ======================
# PETSc Configured Builds (current variants)
# ======================
# Local Builds
MAC_Si-M2_MPICH-4.3.0_PETSC-3.20_GCC-12.4.0/
MAC_Si-M2_MPICH-4.3.0_PETSC-3.20_GCC-12.4.0_DEBUG/

# HPC Builds
HPC_Petsc-3.20
